
<!DOCTYPE html>
<html>
<head>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- //Custom Theme files -->
<!-- Responsive Styles and Valid Styles -->
<style type="text/css">    	
	body{
		width: 100%; 
		background-color: #fff; 
		margin:0; 
		padding:0; 
		-webkit-font-smoothing: antialiased;
	}
	html{
		width: 100%; 
	}
	table{
		font-size: 14px;
		border: 0;
	}
	/* ----------- Response ----------- */
	@media only screen and (max-width:640px){
		table[class=scale] {
			width: 100% !important;
		}
		td[class=hide] {
			display: none!important;
			height: 0px!important;
		}
		img.reset {
			margin: 0 auto;
		}
		td.title {
			text-align: center;
		}
		td[class=scale-center-both] {
			width: 100%!important;
			text-align: center!important;
			padding-left: 20px!important;
			padding-right: 20px!important;
		}
	}
	@media only screen and (max-width:480px){
		table.scale-full {
			width: 90%;
			text-align: center;
		}
		.table-grids {
			width: 65%;
			margin: 0 auto !important;
			float: none;
		}
		
	}
	@media only screen and (max-width:414px){
		table.scale-full {
			width: 94%;
		}
		td.banner {
			height: 250px;
		}
		td.bnr-text {
			letter-spacing: 2px !important;
		}
		.table-grids {
			width: 75%;
		}
		table[class="table-full"] {
			text-align: center !important;
			float: none;
			margin: 0 auto;
		}
	}
	@media only screen and (max-width:375px){
		.table-grids {
			width: 82%;
		}
	}
	@media only screen and (max-width:320px){
		td.banner {
			height: 200px;
		}
		td.bnr-text {
			font-size: 18px !important;
			line-height: 31px !important;
		}
		.table-grids {
			width: 94%;
		}
	}
	
</style>  
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<table bgcolor="#414a51" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td height="45" class="hide"></td>
			</tr>
			<tr>
				<td align="center" style="border-top:5px solid #414a51;">
					<table width="600" bgcolor="#fff" border="0" align="center" cellpadding="0" cellspacing="0" class="scale">
						<tbody>
							<tr>
								<td height="20"></td>
							</tr>
							<!--logo-->
							<tr>
								<td class="logo" align="center" style="line-height: 0px;">
									<a href="index.html"><img style="display:inline-block; line-height:0px; font-size:0px; border:0px;" src="templates/fashion/images/logo.png" alt="img"><a/>
								</td>
							</tr>
							<!--end logo-->
							<tr>
								<td height="20"></td>
							</tr>
							<tr>
								<td height="20" style="border-top:1px solid #e1e1e1;"></td>
							</tr>
							<tr>
								<td align="middle">
									<table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale-full">
										<tbody>
											<tr>
												<td>
													<!--menu-->
													<table height="24px" class="table-full" border="0" align="left" cellpadding="0" cellspacing="0">
														<tbody>
															<tr>
																<td class="menulink" align="center" style="text-decoration: none; color:#fff; font-family: 'Open sans', Arial, sans-serif; font-size:15px; font-weight: bold;">
																	<a href="#" style="color:#414a51; text-decoration:none;">About</a>
																</td>
																<td width="25"></td>
																<td class="menulink" align="center" style="text-decoration: none; color:#fff;font-family: 'Open sans', Arial, sans-serif; font-size:15px; font-weight: bold;">
																	<a href="#" style="color:#414a51; text-decoration:none;">Team</a>
																</td>
																<td width="25"></td>
																<td class="menulink" align="center" style="text-decoration: none; color:#fff;font-family: 'Open sans', Arial, sans-serif; font-size:15px; font-weight: bold;">
																	<a href="#" style="color:#414a51; text-decoration:none;">Contact Us</a>
																</td>
															</tr>
														</tbody>
													</table>
													<!--end menu-->
													<!--Space-->
													<table class="table-full"  width="1" border="0" cellpadding="0" cellspacing="0" align="left">
														<tbody>
															<tr>
																<td height="20" style="font-size: 0;line-height: 0px;border-collapse: collapse;">
																	<p style="padding-left: 24px;">&nbsp;</p>
																</td>
															</tr>
														</tbody>
													</table>
													<!--End Space-->
													<!--social-->
													<table class="table-full" border="0" align="right" cellpadding="0" cellspacing="0">
														<tbody>
															<tr>
																<td><a href="#" style="display:block; border:0;"><img src="templates/fashion/images/s1.png" alt="" border="0" height="18" width="18"></a></td>
																<td width="20"></td>
																<td><a href="#" style="display:block; border:0;"><img src="templates/fashion/images/s2.png" alt="" border="0" height="18" width="18"></a></td>
																<td width="20"></td>
																<td><a href="#" style="display:block; border:0;"><img src="templates/fashion/images/s3.png" alt="" border="0" height="20" width="20"></a></td>
																<td width="20"></td>
																<td><a href="#" style="display:block; border:0;"><img src="templates/fashion/images/s4.png" alt="" border="0" height="16" width="16"></a></td>
															</tr>
														</tbody>
													</table>	
													<!--end social-->
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td height="20"></td>
							</tr>
							<!--//top-nav-->
							<!--banner-->
							<tr>
								<td height="300" align="center" class="banner" background="templates/fashion/images/banner.jpg" style="background-size:100% 100%; background-position: center; background-repeat:no-repeat;">
									<table border="0" align="center" cellpadding="0" cellspacing="0">
										<tbody>
											<tr>
											<td align="center" class="bnr-text" style="font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color:#FFFFFF; font-size:22px;letter-spacing: 4px;line-height: 33px;">
												<!-- OnyxDS -->	
													<multiline label="Headline">THE LATEST FASHION TRENDS</multiline>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td height="25"></td>
							</tr>
							<!--//banner-->
							<!--banner-bottom-->
							<tr>
								<td>
									<table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale-full">
										<tbody>
											<tr>
												<td>
													<!--left-->
													<table bgcolor="#f26c4f" align="left" class="table-grids" width="260" border="0" cellspacing="0" cellpadding="0">
														<tbody><tr>
															<td height="130" align="center" style="background-size:100% 100%; background-position: center; background-repeat:no-repeat">
																<table class="table-inner table-grids-text" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:1.5em; border: 1px solid #fff;">
																	<tbody>
																		<tr>
																			<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color:#FFFFFF; font-size:20px;letter-spacing: 2px;">
																				<singleline label="Left Banner 1">50% DISCOUNT</singleline>
																			</td>
																		</tr>
																		<tr>
																			<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; color:#FFFFFF; font-size:13px; padding-top: 6px;">
																				<singleline label="Left Banner 2">Summer Special Offer</singleline>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr></tbody>
													</table>
													<!--end left-->
													<!--Space-->
													<table width="1" border="0" cellpadding="0" cellspacing="0" align="left" class="table-grids">
														<tbody><tr>
															<td height="25" style="font-size: 0;line-height: 0px;border-collapse: collapse;">
																<p style="padding-left: 10px;">&nbsp;</p>
															</td>
														</tr></tbody>
													</table>
													<!--End Space-->
													<!-- agileits -->
													<!--right-->
													<table bgcolor="#bf222a" align="right" class="table-grids" width="260" border="0" cellspacing="0" cellpadding="0">
														<tbody><tr>
															<td height="130" align="center" style="background-size:100% 100%; background-position: center; background-repeat:no-repeat">
																<table class="table-inner table-grids-text" border="0" align="center" cellpadding="0" cellspacing="0" style="padding:1.5em; border: 1px solid #fff;">
																	<tbody>
																		<tr>
																			<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-weight: bold; color:#FFFFFF; font-size:20px;letter-spacing: 2px;">
																				<singleline label="Right banner 1">FREE REGISTER</singleline>
																			</td>
																		</tr>
																		<tr>
																			<td align="center" style="font-family:'Open Sans', Arial, sans-serif; color:#FFFFFF; font-size:13px; padding-top: 6px;">
																				<singleline label="Right banner 2">With Basic Package</singleline>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody></table>
													<!--//end right-->
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<!--//banner-bottom-->
							<tr>
								<td height="25"></td>
							</tr>
							<!--latest-designs-->
							<tr>
								<td height="25" style="border-top:1px solid #e1e1e1;"></td>
							</tr>
							<tr>
								<td align="center">
									<table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
										<tbody>
											<tr>
												<td style="font-size: 50px; color:#FE4B22; font-family: 'Gabriola', Helvetica, Arial, sans-serif; letter-spacing: 1px; line-height: 70px;" align="center" class="title"><singleline>Latest Designs</singleline></td>
											</tr>
											<tr>
												<td style="color: #999; font-size: 14px; font-family:'Open Sans', Arial, sans-serif; line-height: 28px;" align="center" class="scale-center-both"><multiline>
													
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco 
													
												</multiline></td>
												<!-- OnyxDS -->
											</tr>
											<tr>
												<td height="40"></td>
											</tr>
											<!--latest-designs-row1-->
											<tr>
												<td>
													<table width="200" border="0" cellspacing="0" cellpadding="0" align="left" style="font-family: 'Open sans', Arial, sans-serif; font-size: 14px; color: #9b9b9b;" class="scale">
														<tbody>
															<tr>
																<td class="scale-center-both" align="center" height="170">
																	<img src="templates/fashion/images/img1.png" border="0" alt="" width="200" editable="true">
																</td>
															</tr>
															<tr>
																<td height="20" style="font-size: 1px">&nbsp;</td>
															</tr>
														</tbody>
													</table>
													<table width="300" border="0" cellspacing="0" cellpadding="0" align="right" class="scale">
														<tbody>
															<tr>
																<td style="font-size: 32px; color: #BF222A; font-family: 'Gabriola', Helvetica, Arial, sans-serif;" class="scale-center-both"><singleline>Great findability</singleline></td>
															</tr>
															<tr>
																<td style="color: #999; font-size: 14px; font-family: 'Open sans', Arial, sans-serif; line-height: 28px;" class="scale-center-both"><multiline>
																	
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.													
																</multiline></td>
															</tr>
															<tr>
																<td height="30" style="font-size: 1px">&nbsp;</td>
															</tr>
														</tbody>
													</table>	
												</td>
											</tr>
											<!--latest-designs-row2-->
											<tr>
												<td>
													<table width="200" border="0" cellspacing="0" cellpadding="0" align="right" style="font-family: 'Open sans', Arial, sans-serif; font-size: 14px; color: #9b9b9b;" class="scale">
														<tbody>
															<tr>
																<td class="scale-center-both" align="center" height="170">
																	<img src="templates/fashion/images/img2.png" border="0" alt="" width="200" editable="true">
																</td>
															</tr>
															<tr>
																<td height="20" style="font-size: 1px">&nbsp;</td>
																<!-- agileits -->
															</tr>
														</tbody>
													</table>
													<table width="300" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
														<tbody>
															<tr>
																<td style="font-size: 32px; color: #BF222A; font-family: 'Gabriola', Helvetica, Arial, sans-serif;" class="scale-center-both"><singleline>Great findability</singleline></td>
															</tr>
															<tr>
																<td style="color: #999; font-size: 14px; font-family: 'Open sans', Arial, sans-serif; line-height: 28px;" class="scale-center-both"><multiline>
																	
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.													
																</multiline></td>
															</tr>
															<tr>
																<td height="30" style="font-size: 1px">&nbsp;</td>
															</tr>
														</tbody>
													</table>	
												</td>
											</tr>
											<!--latest-designs-row3-->
											<tr>
												<td>
													<table width="200" border="0" cellspacing="0" cellpadding="0" align="left" style="font-family: 'Open sans', Arial, sans-serif; font-size: 14px; color: #9b9b9b;" class="scale">
														<tbody>
															<tr>
																<td class="scale-center-both" align="center" height="170">
																	<img src="templates/fashion/images/img3.png" border="0" alt="" width="200" editable="true">
																</td>
															</tr>
															<tr>
																<td height="20" style="font-size: 1px">&nbsp;</td>
															</tr>
														</tbody>
													</table>
													<table width="300" border="0" cellspacing="0" cellpadding="0" align="right" class="scale">
														<tbody>
															<tr>
																<td style="font-size: 32px; color: #BF222A; font-family: 'Gabriola', Helvetica, Arial, sans-serif;" class="scale-center-both"><singleline>Great findability</singleline></td>
															</tr>
															<tr>
																<td style="color: #999; font-size: 14px; font-family: 'Open sans', Arial, sans-serif; line-height: 28px;" class="scale-center-both"><multiline>
																	
																	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.													
																</multiline></td>
															</tr>
															<tr>
																<td height="30" style="font-size: 1px">&nbsp;</td>
															</tr>
														</tbody>
													</table>	
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td height="25"></td>
							</tr>
							<!--//latest-designs-->
							<tr>
								<td height="25" style="border-top:1px solid #e1e1e1;"></td>
							</tr>
							<!--team-->
							<tr>
								<td>
									<table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
										<tbody>
											<tr>
												<td style="font-size: 50px; color:#FE4B22; font-family: 'Gabriola', Helvetica, Arial, sans-serif; letter-spacing: 1px;" align="center" class="title"><singleline>Meet Our Team</singleline></td>
											</tr>
											<tr><td height="10">&nbsp;</td></tr>
											<tr>
												<td>
													<table width="170" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
														<tbody>
															<tr>
																<td valign="bottom" height="90" align="center" class="scale-center-both">
																	<img src="templates/fashion/images/t1.png" border="0" style="display: block; border-radius: 50%;" alt="" class="reset" width="120" editable="true">
																</td>
															</tr>
															<tr><td height="18">&nbsp;</td></tr>
															<tr>
																<td align="center" style="font-family:'Open sans', Arial, sans-serif; font-size: 16px; color: #433d3c;" class="scale-center-both"><singleline>Jason Arthit</singleline></td>
															</tr>
															<tr>
																<td height="14" valign="bottom">
																	<table align="center" border="0" cellpadding="0" cellspacing="0" width="25">
																		<tbody><tr>
																			<td height="3" style="background-color: #c3bdb8; border-radius: 3px; font-size: 1px;">&nbsp;</td>
																		</tr>
																	</tbody></table>
																</td>
															</tr>
														</tbody>
													</table>
													<table width="355" border="0" cellspacing="0" cellpadding="0" align="right" class="scale">
														<tbody>
															<tr>
																<td>
																	<table width="170" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
																		<tbody>
																			<tr>
																				<td valign="bottom" height="90" align="center" class="scale-center-both">
																					<img src="templates/fashion/images/t2.png" border="0" style="display: block; border-radius: 50%;" alt="" class="reset" width="120" editable="true">
																				</td>
																			</tr>
																			<tr><td height="18">&nbsp;</td></tr>
																			<tr>
																				<td align="center" style="font-family:'Open sans', Arial, sans-serif; font-size: 16px; color: #433d3c;" class="scale-center-both"><singleline>Karim Kanda</singleline></td>
																			</tr>
																			<tr>
																				<td height="14" valign="bottom">
																					<table align="center" border="0" cellpadding="0" cellspacing="0" width="25">
																						<tbody><tr>
																							<td height="3" style="background-color: #c3bdb8; border-radius: 3px; font-size: 1px;">&nbsp;</td>
																						</tr>
																					</tbody></table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																	<table width="170" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
																		<tbody>
																			<tr>
																				<td valign="bottom" height="90" align="center" class="scale-center-both">
																					<img src="templates/fashion/images/t3.png" border="0" style="display: block; border-radius: 50%;" alt="" class="reset" width="120" editable="true">
																				</td>
																			</tr>
																			<tr><td height="18">&nbsp;</td></tr>
																			<tr>
																				<td align="center" style="font-family:'Open sans', Arial, sans-serif; font-size: 16px; color: #433d3c;" class="scale-center-both"><singleline>Karim Kanda</singleline></td>
																			</tr>
																			<tr>
																				<td height="14" valign="bottom">
																					<table align="center" border="0" cellpadding="0" cellspacing="0" width="25">
																						<tbody><tr>
																							<td height="3" style="background-color: #c3bdb8; border-radius: 3px; font-size: 1px;">&nbsp;</td>
																						</tr>
																					</tbody></table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr><td height="48">&nbsp;</td></tr>
										</tbody>
									</table>
								</td>
							</tr>
							<!--//team-->	
							<!--contact-->
							<tr>
								<td height="25" style="border-top:1px solid #e1e1e1;"></td>
							</tr>
							<tr>
								<td>
									<table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
										<tbody>
											<tr>
												<td style="background-color:#F26C4F;">
													<table width="460" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
														<tbody>
															<tr><td height="40">&nbsp;</td></tr>
															<tr>
																<td>
																	<table width="170" border="0" cellspacing="0" cellpadding="0" align="left" class="scale">
																		<tbody>
																			<tr>
																				<td class="scale-center-bottom-both">
																					<img src="templates/fashion/images/map.png" border="0" style="display: block; border-radius: 50%;" class="reset" alt="" width="180" editable="true">
																				</td>
																			</tr>
																		</tbody>
																	</table>
																	<table width="260" border="0" cellspacing="0" cellpadding="0" align="right" class="scale">
																		<tbody>
																			<tr>
																				<td style="font-size: 40px; color:#fff; font-family: 'Gabriola', Helvetica, Arial, sans-serif; letter-spacing: 1px; line-height: 50px;" align="left" class="title"><singleline> Visit Us!</singleline></td>
																			</tr>
																			<tr>
																				<td style="color: #fff; font-size: 14px; font-family: 'Open sans', Arial, sans-serif; line-height: 28px;" class="scale-center-both"><multiline>
																					Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
																				</multiline></td>
																			</tr>
																			<tr><td height="6" style="font-size: 1px;">&nbsp;</td></tr>
																			<tr>
																				<td style="color: #fff; font-size: 14px; font-family: 'Open sans', Arial, sans-serif; line-height: 28px;" class="scale-center-both"><multiline>
																					2K Avenue, 5th Street, New York City. 
																					<br>
																					<a href="mailto:example@mail.com" style="text-decoration: none; color: #9E2026;">example@mail.com</a>
																				</multiline></td>
																			</tr>
																		</tbody>
																	</table> 
																</td>
															</tr>
															<tr><td height="34">&nbsp;</td></tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr><td height="40">&nbsp;</td></tr>
										</tbody>
									</table>   
								</td>
							</tr>
							<!--//contact-->
							<!--footer-->
							<tr>
								<td style="background-color:#24292D;">
									<table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="scale">
										<tbody>
											<tr><td height="27" style="font-size: 1px;">&nbsp;</td></tr>
											<tr>
												<td class="footer-bottom" align="center" style="color: #fff;font-size:14px; font-family:'Open sans', Arial, sans-serif; line-height:24px;">We hope you like our newsletters. If you don't, <br> simply <a href="#" style="color:#fff;">unsubscribe.</a></td>
											</tr>
											<tr><td height="27" style="font-size: 1px;">&nbsp;</td></tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="background-color:#000;">
									<table width="540" border="0" cellspacing="0" cellpadding="0" align="center" class="scale-full">
										<tbody>
											<tr><td height="12" style="font-size: 1px;">&nbsp;</td></tr>
											<tr>
												<td height="35" style="font-family: 'Open sans', Arial, sans-serif; font-size: 14px; color: #fff; line-height: 24px;" class="copy-right">
													© 2016 Fashion. All rights reserved | Design by <a href="http://onyxdatasystems.com/" style="color:#fff; text-decoration:none;">OnyxDS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       
												<a href="#" style="text-decoration: none; color: #FFFFFF;">Order Online</a>
												</td>
											</tr>
											<tr><td height="12" style="font-size: 1px;">&nbsp;</td></tr>
										</tbody>
									</table>
								</td>
							</tr>
							<!--//footer-->
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td height="45" class="hide"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>